<div ng-controller="BrowseCtrl" ng-init="
	<% @schools.each_with_index do |school, i| %>
		SCHOOLS.push({id: <%= i%>, index_id: <%=school.id%>, name: '<%=school.name%>', address: '<%=school.address%>'});
		<% school.grades.each_with_index do |grade, i| %>
			GRADES.push({id: <%= i%>, subject: '<%=grade.subject%>', grade: '<%=grade.grade%>', average_mark: '<%=grade.average_mark%>', school_id: '<%=grade.school_id%>'});
		<% end %>
	<% end %>
	">
	<div class="height-80vh boxed col-md-6">
		<form><input class="font-24 width-100p" ng-change="schoolSearch()" ng-model="searchQuery" placeholder="Search"></input></form><br/>
		<select class="font-24 width-100p" style="height:90%;" size="2">
			<option ng-repeat="school in searchResults | orderBy: 'name'" ng-click="loadSchoolInfo(school.id)">
				{{school.name}}
			</option>
		</select>
	</div>
	<div class="height-80vh boxed col-md-6">
		<span ng-show="schoolName">
			<h2> {{schoolName}}</h2>
			<strong>Address:</strong> <br/> {{schoolAddress}}<br/>
			<br/><strong>Grades (subject, grade, average mark):</strong> <br/> 
			<div ng-repeat="grade in schoolGrades">
				<span class="graph" style="padding:0 0 0 {{grade.average_mark}}px;"> {{grade.average_mark}} </span> {{grade.subject}} {{grade.grade}}
			</div>
			<div id="googleMap"></div>
		</span>
	</div>
</div>