<%= form_for @school.survey, method: :patch do |f| %>
  <% if @survey && @survey.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@survey.errors.count, "error") %> prohibited
        this survey from being saved:
	  </h2>
      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
	</div>
  <% end %>
  <p>
    <%= f.label :Many_or_all_responses %><br>
    <%= f.number_field :many_or_all_responses %>
  </p>
  <p>
    <%= f.label :At_no_time_responses %><br>
    <%= f.number_field :at_no_time_responses %>
  </p>
  <p>
    <%= f.label :Few_times_responses %><br>
    <%= f.number_field :few_times_responses %>
  </p>
  <p>
    <%= f.label :Some_times_responses %><br>
    <%= f.number_field :some_times_responses %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>