<h1>Add school</h1>

<%= form_for :school, url: schools_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :address %><br>
		<%= f.text_field :address %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>