<p>
  <strong><%= @school.name %></strong>
</p>
<p>
  <%= @school.address %>
</p>
<h2>Grades</h2>
<% @school.grades.each do |grade| %>
  <p>
    <strong>Subject</strong>
    <%= grade.subject %>
  </p>
 
  <p>
    <strong>Grade</strong>
    <%= grade.grade %>
  </p>
  
  <p>
    <strong>Average mark</strong>
    <%= grade.average_mark %>
  </p>
  
  <p>
    <%= link_to 'Destroy Grade', [grade.school, grade],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>