<!DOCTYPE html>
<html>
<head>
  <title>Skoolr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="skoolr">
<h1>Skoolr</h1>
<span> 
	<%= link_to "Home", '/home' %> | 
	<%= link_to "Get Started", '/search' %> |
	<%= link_to "Browse Schools", controller: 'schools' %> |
	<%= link_to "Login/Signup", '/login' %> |
	<%= link_to "Admin", '/admin' %>
</span>
<br/><br/>
<%= yield %>

</body>