<!DOCTYPE html>
<html>
<head>
  <title>Skoolr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body ng-app="skoolr" class="container-fluid">
<h1>Skoolr</h1>
<span>
	<span class="boxed font-24 col-md-2 text-center"><%= link_to "Home", '/home' %> </span>
	<span class="boxed font-24 col-md-2 text-center"><%= link_to "Get Started", '/search' %> </span>
	<span class="boxed font-24 col-md-2 text-center"><%= link_to "Browse Schools", '/browse' %> </span>
	<span class="boxed font-24 col-md-2 text-center"><%= link_to "Login/Signup", '/login' %> </span>
	<span class="boxed font-24 col-md-2 text-center"><%= link_to "Admin", '/admin' %></span>
</span>
<br/><br/>
<div class="boxed col-md-10">
	<%= yield %>
</div>

</body>